* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  /* width: 100%; */
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  justify-items: center;
  
}

body,input,textarea,button {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

code {
  font-family: 'Courier New', monospace;
}