.footer-container {
    background-color: #f8f9fa;
    padding: 20px 0 0 20px;
    text-align: start;
  }
  
  .footer-columns {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
  }
  
  .footer-column {
    flex: 1;
    padding: 0 20px;
  }
  
  .footer-column h4 {
    margin-bottom: 10px;
    font-weight: 700;
    color: black;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
    opacity: 0.9;
  }
  
  .footer-column li {
    margin-bottom: 5px;
    color: var(--color1);
  }
  
  .footer-column a {
    text-decoration: none;
    color: #007bff;
  }
  
  .footer-column a:hover {
    text-decoration: underline;
  }

  .contato-footer {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .footer-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background-color: var(--color4);
  }

  .footer-logo-container p {
    text-transform: capitalize;
    opacity: 0.9;
  }
  
  .footer-logo {
    width: 90px;
    border-radius: 50%;
  }
  
  