/*Colores*/

:root {
  --color1: #0a9466;
  --color2: #14c389;
  --color3: #19e09d;
  --color4: #F0F0F0;
}

/* ----- Barra de navegación -----*/

.contenedor_de_opciones {
    display: flex;
    position: fixed;
    width: 100%;
    margin: 0;
    justify-content: space-around;
    border-bottom: var(--color4) 3px solid;
    background: linear-gradient(to top, #0a9466, #14c389, #19e09d);
}

.menu-left {
  display: flex;
}

.opciones-izquierda,
.opciones-derecha { 
    list-style: none;
    display: flex;
    align-items: center;
}

.opciones-izquierda li a,
.opciones-derecha li a {
  text-decoration: none; /* Quita el subrayado del enlace */
  color: var(--color4);
  font-weight: 700;
  transition: 0.3s; /* Transición suave para el cambio de color del texto */
  font-size: 20px;
  padding: 15px;
}


/* Estilos para el contenedor de cada opción en hover */
.opciones-izquierda li a:hover,
.opciones-derecha li a:hover { /* Cambia el color de fondo al pasar el cursor */
  color: var(--color4); /* Cambia el color del texto al pasar el cursor */
  cursor: pointer; /* Cambia el cursor al pasar el cursor sobre el contenedor */
  background-color: var(--color2);
}

/* ----- logo view ----- */

.logo-opciones {
  display: flex;
}

.home-logo {
  display: block;
  background-image: url(/src/assets/images/logos/logo1.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 51px;
  height: 51px;
  border-radius: 50%;
}

/* ----- END desktop view ----- */



/*Para el ocultar este menu cuando este en modo teléfono*/
  @media only screen and (max-width: 768px) {
    .contenedor_de_opciones {
      display: none;
    
  }}
/*
*{
    border: solid green 2px ;
}*/
