.background-main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 34rem;
    margin: 0 auto;
}

.background-main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/header.svg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* filter: brightness(0.3);  */
    z-index: 0; 
  }

.main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: 100%;
}


/*Texto Main*/

.text-home {
    display: flex;
    flex-direction: column;
    width: 42rem;
    height: 23.25rem;
    gap: 30px;
    padding-top: 2rem;
}

.titulo-home {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 1.5rem;
}

.subtitulo-home {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.125rem;
}

.sub-text-home {
    display: flex;
    justify-content: space-evenly;
    gap: 10%;
    font-size: 20px;
}


/*Titulos Main*/

.main h1 {
    text-transform: uppercase;
    margin: 0;
    color: var(--color4);
}

.main h2 {
    text-transform: uppercase;
    margin: 0;
    color: var(--color4);
    /* font-size: 40px; */
}

.main h3::first-letter {
    text-transform: capitalize;
}

.main h3 {
    color: var(--color4);
}
.main p {
    margin: 0;
    color: var(--color4);
}
  
@media only screen and (max-width: 768px) {
    .text-home {
        width: 90%;
        margin-top: -5rem;
    }
    .titulo-home {
        font-size: 0.75rem;
    }    
}
