/*Colores


:root {
  --color1: #0a9466;
  --color2: #14c389;
  --color3: #19e09d;
  --color4: #F0F0F0;
}*/

body {
    background:  var(--color4);
    font-family: 'Jost Font';
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.web {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*Main*/

.background-main {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.background-main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/home.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: brightness(0.3); /* Aplica el filtro de brillo */
    z-index: 0; /* Asegúrate de que el pseudo-elemento esté detrás del contenido */
  }

.main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: 100vh;
}

.main img {
    filter: drop-shadow(2px 4px 6px var(--color2));
}

/*Texto Main*/

.text-home {
    display: flex;
    flex-direction: column;
    width: 1000px;
    gap: 30px;
    padding-top: 2rem;
}

.titulo-home {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.sub-text-home {
    display: flex;
    justify-content: space-evenly;
    gap: 10%;
    font-size: 20px;
}

.sub-text-home a {
    color: var(--color4);
    text-decoration: none;
    background-color: transparent;
    padding: 6px 10px 6px 10px;
    border: 3px solid var(--color1);
    border-radius: 15px;
    transition: 0.5s;
}

.sub-text-home a:hover {
    background-color: var(--color1);
    color: var(--color4);
}

/*Titulos Main*/

.main h1 {
    text-transform: uppercase;
    font-size: 60px;
    margin: 0;
    color: var(--color4);
}

.main h2 {
    text-transform: uppercase;
    margin: 0;
    color: var(--color4);
    font-size: 40px;
}

.main h3::first-letter {
    text-transform: capitalize;
}

.main h3 {
    color: var(--color4);
}

/*voluntariado*/

.voluntariado {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color4);
    height: 500px;
    width: 100%;
}

.voluntariado-img {
    height: 382px;
    width: 566px;
    border-radius: 15px;
    border: 4px var(--color2) solid;
    animation: voluntariado-imagen 6s infinite steps(1);
    background-position: center;
    background-size: cover;
}

.tipo-vo-texto {
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.tipo-vo-texto h1, .tipo-vo-texto p {
    color: var(--color1);
    word-wrap: break-word;
    font-size: 32px;
}

.tipo-vo-texto h1::first-letter, .tipo-vo-texto p::first-letter {
    text-transform: capitalize;
}


/*Tipo de Voluntariado*/

.accordion {
    width: 100%;
    height: 700px;
    overflow: hidden;
  }
  
  .accordion-container {
    display: flex;
    height: 100%; /* Cambiado a 100% para permitir la expansión horizontal */
  }
  
  .accordion-item {
    width: 33.33333%;;
    position: relative;
    overflow: hidden;
  }
  
  .accordion-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
    gap: 15px;
  }

  .accordion-content img {
    border-radius: 24px;
    border: 4px var(--color2) solid;
  }
  
  .accordion-content h2 {
    color: var(--color4);
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 2px;
    overflow-wrap: break-word;
  }

  .accordion-item:hover .accordion-content h2 {
    color: var(--color1);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 30px;
  }
  
  .accordion-item .accordion-content {
    background: linear-gradient(0deg, var(--color3) 0%, var(--color1) 65%);
}
  
  .accordion-item:hover {
    width: 70%;; /* Al hacer hover, expandir el elemento horizontalmente */
  }
  
  .accordion-item:hover .accordion-content {
    background: var(--color4);
  }
  
  .accordion-item .accordion-content img {
    display: none;
    width: 0px;
  }
  
  .accordion-item:hover .accordion-content img {
    opacity: 1; /* Hacer la imagen completamente visible */
    width: 400px;
    display: block;
    transform: scale(1); /* Escala normal */
    transition: opacity 1s, width 1s, transform 1s;
  }

  /*Proceso de Voluntariado*/

  .proceso-voluntariado {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    width: 500px;
    padding: 40px 0;
  }

  .proceso-voluntariado h1 {
    padding: 25px 0;
    color: var(--color2);
  }

  .proceso-voluntariado h1::first-letter {
    text-transform: capitalize;
  }

  .proceso-voluntariado h2 {
    color: var(--color1);
  }

  .proceso-voluntariado p a {
    text-decoration: none;
    color: var(--color1);
    border-bottom: 2px var(--color2) solid;
    transition: all .5s;
  }

  .proceso-voluntariado p a:hover {
    filter: brightness(2);
  }

  .proceso-texto {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    color: var(--color5);
    text-align: left;
  }

  .proceso-texto p {
    margin: 0;
    word-wrap: break-word;
  }

  .proceso-texto h2::first-letter, .proceso-texto p::first-letter{
    text-transform: capitalize;
  }
  

@media only screen and (max-width: 1020px) {
    body{ 
        overflow-x: hidden;
    }

    /*Main*/

    .main {
        flex-direction: column;
        height: 100vh;
        gap: 0px;
    }

    /*Texto Main*/

    .text-home {
        width: 450px;
    }

    .sub-text-home {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .sub-text-home a {
        width: 80%;
        padding: 10px 0px;
    }

    /*Acordeon*/

    .accordion-container {
        flex-direction: column;
    }

    .accordion-item {
        width: 100%;
        height: 100%;
    }

    .accordion-item:hover {
        width: 100%;}

    .accordion-content {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .accordion-item .accordion-content {
        background: linear-gradient(to left, var(--color3) 0%, var(--color1) 65%); 
    }
    
    .accordion-content h2 {
        position: absolute;
        bottom: 20%;
    }

    .accordion-item:hover .accordion-content h2 {
        position: absolute;
    }

    .accordion-content h2:first-of-type {
        top: 20%;
        z-index: 2;
    }

    .accordion-item:hover .accordion-content h2:first-of-type {
        position: absolute;
    }

    .accordion-item:hover .accordion-content img {
        height: 200px;
    }

    /*voluntariado*/

    .proceso-voluntariado {
        width: 465px;
    }

    .voluntariado {
        flex-direction: column;
        height: 850px;
    }

    .tipo-vo-texto {
        width: 80%;
    }



}

@media only screen and (max-width: 465px) {
    
/*Main*/

    .main {
        max-width: 100%;
    }

    .text-home {
        width: 100%;
    }

    .accordion-content h2 {
        position: absolute;
    }
    
    .proceso-voluntariado {
        width: 100%;
    }

    .accordion-content h2 {
        font-size: 20px;
    }

    .accordion-item:hover .accordion-content h2 {
        font-size: 25px;
    }

    .voluntariado-img {
        display: none;
    }
}

@keyframes voluntariado-imagen {
    0% {
      background: url('../images/voluntariado\ 1.jpeg');
    }
    33% {
      background: url('../images/voluntariado\ 2.jpeg');
    }
    66% {
      background: url('../images/voluntariado\ 3.jpeg');
    }
    100% {
      background: url('../images/voluntariado\ 1.jpeg');
    }
  }