body {
    background:  var(--color4);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.web {
    display: flex;
    flex-direction: column;
    width: 100%;
}
