/*Colores


:root {
  --color1: #0a9466;
  --color2: #14c389;
  --color3: #19e09d;
  --color4: #F0F0F0;
}*/

body {
    background:  var(--color4);
    font-family: 'Jost Font';
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.web {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*Main*/

.background-main {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.background-main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/home.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: brightness(0.3); /* Aplica el filtro de brillo */
    z-index: 0; /* Asegúrate de que el pseudo-elemento esté detrás del contenido */
  }

.main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: inherit;
    height: 100vh;
}

.main img {
    filter: drop-shadow(2px 4px 6px var(--color2));
}

/*Texto Main*/

.text-home {
    display: flex;
    flex-direction: column;
    width: 1000px;
    gap: 30px;
    padding-top: 2rem;
}

.titulo-home {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.sub-text-home {
    display: flex;
    justify-content: space-evenly;
    gap: 10%;
    font-size: 20px;
}

.sub-text-home a {
    color: var(--color4);
    text-decoration: none;
    background-color: transparent;
    padding: 6px 10px 6px 10px;
    border: 3px solid var(--color1);
    border-radius: 15px;
    transition: 0.5s;
}

.sub-text-home a:hover {
    background-color: var(--color1);
    color: var(--color4);
}

/*Titulos Main*/

.main h1 {
    text-transform: uppercase;
    font-size: 60px;
    margin: 0;
    color: var(--color4);
}

.main h2 {
    text-transform: uppercase;
    margin: 0;
    color: var(--color4);
    font-size: 40px;
}

.main h3::first-letter {
    text-transform: capitalize;
}

.main h3 {
    color: var(--color4);
}
.main p {
  text-transform: uppercase;
    margin: 0;
    color: var(--color4);
    font-size: 15px;
}
/*voluntariado*/

.voluntariado {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color4);
    height: 500px;
    width: 100%;
}

.voluntariado-img {
    height: 382px;
    width: 566px;
    border-radius: 15px;
    border: 4px var(--color2) solid;
    animation: voluntariado-imagen 6s infinite steps(1);
    background-position: center;
    background-size: cover;
}

.tipo-vo-texto {
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.tipo-vo-texto h1, .tipo-vo-texto p {
    color: var(--color1);
    word-wrap: break-word;
    font-size: 32px;
}

.tipo-vo-texto h1::first-letter, .tipo-vo-texto p::first-letter {
    text-transform: capitalize;
}


/*Tipo de Voluntariado*/

  .card-container {
    display: grid;
    width: 100%;
    height:auto; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  
  .card-item {
   width: 80%;
  }
  
  .card-content {
   width: 100%;
  }

  .card-item img {
    border-radius: 24px;
    border: 4px var(--color2) solid;
    width:100%;
  }
  
  
  /*Proceso de Voluntariado*/
   #registro-processo{
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    flex-direction: row;
    background: url(../images/Captura\ de\ tela\ 2024-06-02\ 173839.png);
    background-size: cover;
    background-position: center;
    background-attachment:local;
    z-index: 0; 
   }
  .proceso-voluntariado {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
    width: 100%;
    padding: 40px;
    margin: 40px 40px;
  }

  .proceso-voluntariado h1 {
    padding: 25px 0;
    color: var(--color1);
  }
  .proceso-voluntariado h1::first-letter {
    text-transform: capitalize;
  }

  .proceso-voluntariado h2 {
    color: var(--color3);
  }

  .proceso-voluntariado p a {
    text-decoration: none;
    color: var(--color4);
    border-bottom: 2px var(--color1) solid;
    transition: all .5s;
  }

  .proceso-voluntariado p a:hover {
    filter: brightness(2);
  }

  .proceso-texto {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    color: var(--color5);
    text-align: left;
  }

  .proceso-texto p {
    margin: 0;
    word-wrap: break-word;
  }

  .proceso-texto h2::first-letter, .proceso-texto p::first-letter{
    text-transform: capitalize;
  }
  
/* processo de liderança */
.proceso-voluntariado.lideranca h1 {
  padding: 25px 0;
  color: var(--color2);
}
.proceso-texto-lideranca h2 {
  color: var(--color2);
}
.proceso-voluntariado.lideranca h1::first-letter {
  text-transform: capitalize;
}

.proceso-voluntariado-lideranca p a {
  text-decoration: none;
  color: var(--color4);
  border-bottom: 2px var(--color2) solid;
  transition: all .5s;
}
.proceso-texto-lideranca {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  color: var(--color4);
  text-align: left;
}
.proceso-voluntariado.lideranca p a:hover {
  filter: brightness(2);
}
.proceso-texto-lideranca p {
  margin: 0;
  word-wrap: break-word;
}

.proceso-texto-lideranca h2::first-letter, .proceso-texto-lideranca p::first-letter{
  text-transform: capitalize;
}
@media only screen and (max-width: 1020px) {
    body{ 
        overflow-x: hidden;
    }

    /*Main*/

    .main {
        flex-direction: column;
        height: 100vh;
        gap: 0px;
    }

    /*Texto Main*/

    .text-home {
        width: 450px;
    }

    .sub-text-home {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .sub-text-home a {
        width: 80%;
        padding: 10px 0px;
    }

    /*Acordeon*/

    .card-container {
        flex-direction: column;
    }

    .card-item {
        width: 10%;
        height: 10%;
    }
    .card-content img{
      width: 50%;
      max-width: 100px;
    }
    .card-content h2{
      width: 50%;
    }


    /*voluntariado*/

    .proceso-voluntariado {
        width: 465px;
    }

    .voluntariado {
        flex-direction: column;
        height: 850px;
    }

    .tipo-vo-texto {
        width: 80%;
    }



}

@media only screen and (max-width: 465px) {
    
/*Main*/

    .main {
        max-width: 100%;
    }

    .text-home {
        width: 100%;
    }

    .accordion-content h2 {
        position: absolute;
    }
    
    .proceso-voluntariado {
        width: 100%;
    }

    .accordion-content h2 {
        font-size: 20px;
    }

    .accordion-item:hover .accordion-content h2 {
        font-size: 25px;
    }

    .voluntariado-img {
        display: none;
    }
}

@keyframes voluntariado-imagen {
    0% {
      background: url('../images/voluntariado\ 1.jpeg');
    }
    33% {
      background: url('../images/voluntariado\ 2.jpeg');
    }
    66% {
      background: url('../images/voluntariado\ 3.jpeg');
    }
    100% {
      background: url('../images/voluntariado\ 1.jpeg');
    }
  }