.App-body {
  background-color: var(--color4);
  padding: 20px;
  padding-top: 80px;
  gap: 40px;
  color: black;
  width: 100vw;
}

.titulo-table {
  align-self: self-start;
}

.titulo-table::after {
  content: ""; /* Crea un pseudo-elemento después del contenido del elemento */
  display: block; /* Hace que el pseudo-elemento sea un bloque para que pueda tener ancho */
  border-bottom: 3px solid var(--color2); /* Define el estilo de la línea */
  width: 120px; /* Configura el ancho de la línea, puedes ajustar este valor según tus necesidades */
  margin-top: 5px; /* Ajusta el espacio entre el texto y la línea */
}


.cards-container {
  display: flex;
  gap: 20px;
  width: 95%;
  min-width: 250px;
  max-width: 1450px;
}

.card {
  background-color: var(--color4);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: start;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 10px;
}

.filter-container {
  display: flex;
    width: 100%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: 125px;
    justify-content: space-around;
    align-items: center;
    text-align: left;
}

.filter-container h4 {
  font-size: 14px;
  padding-left: 2px;
}

.input-space {
  display: flex;
  flex-direction: column;
}

.input-filter {
  width: 90%;
  height: 40px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.input-filter::placeholder {
  color: black;
}

.input-icon {
  position: relative;
  display: flex;
  align-items: center;
}

.icon-lupa {
  font-size: 15px;
  position: absolute;
  left: 10px; 
  color: var(--color5); 
}

.input-icon input {
  padding-left: 30px;
}

.icon-table {
  font-size: 25px;
  color: var(--color1);
  background-color: rgba(50, 168, 82, 0.1);
  padding: 20px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.card h3 {
  margin: 0;
  margin-bottom: 10px;
  color: var(--color5);
  font-weight: 100;
  font-size: 22px;
}

.card p {
  font-size: 24px;
  margin: 0;
  color: black;
}

.title-count {
  align-self: self-start;
  text-align: center;
  font-size: 22px;
}

.title-count::after {
  display: block;
  content: '';
  width: 60px;
  border-bottom: 3px solid var(--color1);
  color: var(--color1);
}

.background-total {
  padding: 0px 20px;
  background-color: var(--color1);
  border-radius: 14px;
  color: var(--color4);
  font-size: 18px;
  position: relative;
  left: 10px;
}

.table-container {
  display: flex;
  width: 100%;
  font-size: 16px;
}

.professional-table {
  min-width: 800px; 
  border-collapse: collapse;
  margin: 20px 0;
  width: 100%;
  border-radius: 10px;
}

.professional-table th, .professional-table td {
  padding: 14px 8px;
  text-align: left;
}

.professional-table th {
  background-color: #c5e1e1;
  color: black;
  font-weight: 700;
}

.professional-table tr {
  color: var(--color4);
  background-color: #F0F6F6;
}

.professional-table tr:nth-child(even) {
  background-color: #c5e1e1;
  color: black;
}

.professional-table tr {
  background-color: var(--color4);
  color: black;
}

.professional-image-table {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.contato-table {

}
