.Login{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 2rem;
    border-radius: 19px;
    border: 3px #0756CD solid ;
    width: 800px;
    height: 450px;
  }
  
  .title{
    text-align: center;
    justify-content: center;
    color: #3969C8;
    margin-top: 150px;
  
  }
  
  .Login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 40px;
  }
  
  .btn-email, .btn-pwsd{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    padding: 8px ;
    border-radius: 19px;
    border: 3px #98c9f4 solid ;
    background-color: #f2f2f2;
  }
  
  .Login-img{
    display: flex;
    align-items: center;
    width: 100vh;
  }
  
  .img{
    align-items: center;
    width: 600px;
  }
  
  
  .btn-log{
    margin-top: 15px;
    border-radius: 19px;
    border: 3px #98c9f4 solid ;
    padding: 8px;
    color: #777;
    width: 180px;
    text-align: center;
    
  }