.Hamburger-menu-icon {
  display: none;
  /* Inicialmente oculto en pantallas más grandes */
}

.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo-y-titulo-a-la-izquierda {
  display: flex;
  align-items: center;
}

.company-name {
  display: none;
}

.Mobile-home-logo {
  display: none;
}

@media only screen and (max-width: 768px) {
  .company-name {
    display: flex;
    font-size: 1.5em;
    margin-left: 10px;
    font-weight: bold;
  }

  .Mobile-home-logo {
    display: flex;
    font-size: 1.5em;
    margin-left: 10px;
    font-weight: bold;
    width: 80px;
  }

  .Hamburger-menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
  }

  .Mobile-menu {
    position: absolute;
    align-items: center;
    background-color: #fff;
    padding-left: 35%;
    padding-right: 35%;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 10; /* Ensure it is above the overlay */
  }

  .Mobile-menu ul {
    list-style-type: none;
    padding: 0;
  }

  .Mobile-menu ul li {
    margin-bottom: 10px;
  }

  .Mobile-menu ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    transition: color 0.3s, background-color 0.3s; /* Transición suave para el cambio de color del texto */
  }

  .Mobile-menu ul li a:hover,
  .Mobile-menu ul li a:active {
    background-color: #00909e; /* Cambia el color de fondo al pasar el cursor */
    color: white; /* Cambia el color del texto al pasar el cursor */
    cursor: pointer; /* Cambia el cursor al pasar el cursor sobre el contenedor */
    border-radius: 5px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    backdrop-filter: blur(5px); /* Efecto de desenfoque */
    z-index: 5; /* Ensure it is below the menu */
  }
}
