/*Colores


:root {
  --color1: #0a9466;
  --color2: #14c389;
  --color3: #19e09d;
  --color4: #F0F0F0;
}*/
.Hamburger-menu-icon {
  display: none;
  /* Inicialmente oculto en pantallas más grandes */
}

.mobile-header {
  z-index: 1000;
  display: none;
  align-items: center;
  position: fixed;
  width: 100%;
  margin: 0;
  justify-content: space-around;
  background-color: var(--color1);
  top: 0;
  left: 0;
  z-index: 100;
}

.Mobile-menu ul {
  display: none;
}

.logo-y-titulo-a-la-izquierda {
  display: flex;
  align-items: center;
  gap: 10px;
}

.company-name {
  display: none;
}

.Mobile-home-logo {
  display: none;
}

@media only screen and (max-width: 768px) {
  .mobile-header {
    display: flex;
  }

  .company-name {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    color: var(--color4);
    text-transform: uppercase;
  }

  .Mobile-home-logo {
    display: block;
    background-image: url(/src/assets/images/logos/Juntos\ pelo\ RS.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .Hamburger-menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    color: var(--color4);
  }

  .Mobile-menu {
    margin-top: 31.4px;
    right: 0;
    display: flex;
    position: absolute;
    align-items: center;
    background-color: var(--color1);
    z-index: 10; /* Ensure it is above the overlay */
  }

  .Mobile-menu ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    width: 460px;
    padding: 0;
    align-items: center;
  }

  .Mobile-menu ul li {
    width: 100%;
  }

  .Mobile-menu ul li a {
    text-decoration: none;
    color: var(--color4);
    display: block;
    margin: 0;
    width: 100%;
    padding: 25px 0px;
    transition: 0.3s; /* Transición suave para el cambio de color del texto */
  }

  .Mobile-menu ul li a:hover,
  .Mobile-menu ul li a:active {
    background-color: var(
      --color2
    ); /* Cambia el color de fondo al pasar el cursor */
    color: var(--color4); /* Cambia el color del texto al pasar el cursor */
    cursor: pointer; /* Cambia el cursor al pasar el cursor sobre el contenedor */
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 5; /* Ensure it is below the menu */
  }
  .text-home {
    gap: 15px;
    padding-top: 2rem;
  }
}

@media only screen and (max-width: 460px)  {
  .Mobile-menu {
    padding-top: 20px;
    width: 100%;
  }

  .Mobile-menu ul {
    width: 100%;
  }
}