
.icone-menu-hamburguer {
  display: none;
  /* Inicialmente oculto en pantallas más grandes */
}

.nav-container-mobile{
  z-index: 1000;
  display: none;
  align-items: center;
  position: fixed;
  width: 100%;
  margin: 0;
  justify-content: space-around;
  background-color: var(--color1);
  top: 0;
  left: 0;
  z-index: 100;
}

.menu-dropdown ul {
  display: none;
}

.menu-left{
  display: flex;
  align-items: center;
  gap: 10px;
}

.company-name {
  display: none;
}

.Mobile-home-logo {
  display: none;
}

@media only screen and (max-width: 768px) {
  .nav-container-mobile {
    display: flex;
    width: 100%;
    max-width: 100vw;
   align-items: center;
   padding: 1rem 2rem;
  }

  .name{
   display:inline-flex;
    font-weight: bold;
    color: var(--color4);
    text-transform: uppercase;
    width: 100%;
    font-size: clamp(0.6em, 0.6em + 1vw, 1em);
    justify-content: left;
  }

  .mobile-logo {
    display: block;
    background-image: url(/src/assets/images/logos/Juntos\ pelo\ RS.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 80%;
    height: 100%;
    border-radius: 50%;
  }

  .icone-menu-hamburguer {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    color: var(--color4);
    width: 10%;
    justify-content: center;
  }

  .menu-dropdown{
    margin-top: 31.4px;
    right: 0;
    display: flex;
    position: absolute;
    align-items: center;
    background-color: var(--color1);
    z-index: 10; /* Ensure it is above the overlay */
  }

  .menu-dropdowm ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    width: 460px;
    padding: 0;
    align-items: center;
  }

  .menu-dropdowm ul li {
    width: 100%;
  }

  .menu-dropdowm ul li a {
    text-decoration: none;
    color: var(--color4);
    display: block;
    margin: 0;
    width: 100%;
    padding: 25px 0px;
    transition: 0.3s; /* Transición suave para el cambio de color del texto */
  }

  .menu-dropdowm ul li a:hover,
  .menu-dropdowm ul li a:active {
    background-color: var(
      --color2
    ); /* Cambia el color de fondo al pasar el cursor */
    color: var(--color4); /* Cambia el color del texto al pasar el cursor */
    cursor: pointer; /* Cambia el cursor al pasar el cursor sobre el contenedor */
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 5; /* Ensure it is below the menu */
  }
  .menu {
    gap: 15px;
    padding-top: 2rem;
  }
}

@media only screen and (max-width: 460px)  {
  .menu-dropdowm {
    padding-top: 20px;
    width: 100%;
  }

  .menu-dropdowm ul {
    width: 100%;
  }
}